<!DOCTYPE html>
<html>
<head>
  <title>개인 프로젝트</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to raw("<i>목표달성</i>"), root_path, class:'navbar-brand' %>
        </div>
       
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="/">ㅇ</a></li>-->
            <ul class="nav navbar-nav">
              <li class="<%= params[:bulletin_id] == '1' ? 'active' : '' %>"><%= link_to '목표달성', bulletin_posts_path('1') %></li>
              <!--<li class="<%= params[:bulletin_id] == '2' ? 'active' : '' %>"><%= link_to '매알매일', bulletin_posts_path('2') %></li>-->
              <li class="<%= params[:bulletin_id] == '3' ? 'active' : '' %>"><%= link_to '공지사항', bulletin_posts_path('3') %></li>
            </ul>
            <!--<li class="dropdown">-->
            <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>-->
            <!--  <ul class="dropdown-menu">-->
            <!--    <li><a href="#">Action</a></li>-->
            <!--    <li><a href="#">Another action</a></li>-->
            <!--    <li><a href="#">Something else here</a></li>-->
            <!--    <li class="divider"></li>-->
            <!--    <li class="dropdown-header">Nav header</li>-->
            <!--    <li><a href="#">Separated link</a></li>-->
            <!--    <li><a href="#">One more separated link</a></li>-->
            <!--  </ul>-->
            <!--</li>-->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "My Profile", edit_user_registration_path %></li>
                  <li><%= link_to "Roles : " + user_roles(current_user), '#' %></li>
                  <li><a href="/bulletins/1/posts/confirm_goal_show">목표 완료 기록</a></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, data: { confirm: "Are you sure?" } %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "로그인", new_user_session_path %></li>
              <li><%= link_to "회원가입", new_user_registration_path %></li>
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <%= render partial: "shared/flash_messages", flash: flash %>
        <%= yield %>

    </div> <!-- /container -->
</body>
</html>
